.App {
    min-height: 100vh;
}


.dashboard-card {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card-icon {
    font-size: 28px;
    line-height: 1;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-card {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}